*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin: 50px;
}
table{
    margin: auto;
}
table th{
    border: 1px solid gray;
    width: 100px;
    height: 20px;
    border-radius: 5px;
   
}