<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xlmns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Please confirm the information</h1>
            <hr>
            <div>
                <strong><span th:text="name"></span></strong>
                <span th:text="${employee.name}"></span>
            </div>
            <div>
                <strong><span th:text="address"></span></strong>
                <span th:text="${employee.address}"></span>
            </div>
            <div>
                <strong><span th:text="married"></span></strong>
                <span th:text="${employee.married}"></span>
            </div>
            <div>
                <strong><span th:text="permanent"></span></strong>
                <span th:text="${employee.permanent} ? 'Yes' : 'No' "></span>
            </div>
        </div>
    </body>
</html>
