<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h2>Registrar Persona</h2>
    <form th:action="@{/savePersona}" th:object="${persona}" method="post">
        <input type="text" placeholder="Nombre" th:field="*{nombre}">
        <input type="text" placeholder="Apellido" th:field="*{apellido}">
        <input type="submit" value="Crear">
    </form>
    <a th:href="@{/listPersonas}">Listado personas</a>
    <a th:href="@{/}">Index</a>
</body>

</html>