<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <table border="1">
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
            </tr>
            <tr th:each="p : ${lstPersonas}">
                <td th:text="${p.nombre}"></td>
                <td th:text="${p.apellido}"></td>
            </tr>
        </table>
        <a th:href="@{/addPersona}">Agregar personas</a>
        <a th:href="@{/}">Index</a>
    </body>

</html>